.tribe-project-share
    h4 Share with friends
    div
        a(ng-href="{{'https://twitter.com/intent/tweet?text=Check out ' + baseURI + 'projects/' + project.name}}" target="_blank")
            i.fa.fa-twitter

        a(ng-href="{{'http://www.facebook.com/sharer/sharer.php?u=' + baseURI + 'projects/' + project.name}}" target="_blank")
            i.fa.fa-facebook