<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="false">

    <display-name>tomitribe.io</display-name>

    <!-- The trick is to put all your static files under the same directory and map the "default" servlet to it -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <!-- Any other request will point to the "index.html" page. This way angularjs will be abe to manage page
        transitions at the client side in case the user starts the application from a permalink. -->
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <!-- Expiration filter adds user side caching for better user experience / faster second page load -->
    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresByType image</param-name>
            <param-value>access plus 1 year</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/css</param-name>
            <param-value>access plus 6 month</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/javascript</param-name>
            <param-value>access plus 6 month</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresDefault</param-name>
            <param-value>access plus 2 hours</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>ExpiresThirdParty</filter-name>
        <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresDefault</param-name>
            <param-value>access plus 1 year</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ExpiresThirdParty</filter-name>
        <url-pattern>/app/third-party/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html;charset=UTF-8</mime-type>
    </mime-mapping>

</web-app>
